.subscription-option{

	input[type=radio]{
		display: none;

	}

	label{
		display: inline-block;
		width:100%;
		min-height: 200px;
		background:  #F2F2F2;
		border-radius: 4px;
		color: #545454;
		font-size: 40px;
		text-align: center;
		cursor: pointer;
		padding-top: 50px;
		transition: 0.9s ease-in-out;
}
	.plan-name{
	display: block;
	font-size: 25px;


	}
	.plan-price {
			
			font-family: 'Oswald';

	}

	input[type=radio]:checked + label{

		background: #0B79Be;
			color: #fff;
	}

	@media screen and (min-width: 480px) {
		
	    label{

	    	font-size: 15px;
	    	min-height: 100px;
	    	padding-top:30px;
	    }

	.plan-name{
	display: block;
	font-size: 15px;

		}
	}

}